/* Style the scrollbar */

::-webkit-scrollbar {
    width: 12px;
    /* width of the scrollbar */
    background-color: #d385ad;
    /* background color of the scrollbar */
}


/* Style the thumb (the part of the scrollbar that the user can drag) */

::-webkit-scrollbar-thumb {
    background-color: #512d38;
    /* color of the thumb */
    border-radius: 3px;
    /* roundness of the thumb */
}


/* Style the thumb when it's hovered over */

::-webkit-scrollbar-thumb:hover {
    background-color: #673947;
    /* color of the thumb when hovered over */
}